@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #191765;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #191765;
  color: #fff;
  font-size: 15px;
}

/* Geometric shapes */
#circle1 {
  width: 160px;
  height: 160px;
  background: #edecff;
  border-radius: 50%;
  position: absolute;
  top: 97px;
  right: 0;
  left: -106px;
  z-index: -1;
  filter: blur(30px);
}

#circle2 {
  width: 68px;
  height: 68px;
  background: #edecff;
  border-radius: 50%;
  position: absolute;
  top: 495px;
  left: 339px;
  z-index: -1;
  filter: blur(30px);
}

#rectangle1 {
  width: 39.61px;
  height: 482.57px;
  background: #edecff;
  position: absolute;
  top: 1624px;
  left: -11.2px;
  z-index: -1;
  filter: blur(25px);
  transform: rotate(-36.38deg);
}

#rectangle2 {
  width: 70px;
  height: 262px;
  background: #edecff;
  position: absolute;
  top: 2437px;
  left: 300px;
  z-index: -1;
  filter: blur(25px);
  transform: matrix(-0.84, -0.54, -0.54, 0.84, 0, 0);
}

#oval1 {
  width: 308px;
  height: 155px;
  background: #edecff;
  border-radius: 100px / 50px;
  position: absolute;
  top: 3274px;
  left: -193px;
  z-index: -1;
  filter: blur(70px);
}

/* Header and Navbar styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 20px 0;
}

.logo {
  font-weight: 500;
  padding: 10px 20px;
  background: #191765;
  color: #fff;
}

.hamburger {
  width: 33.33px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
}

.nav-flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
}

.nav-flex button {
  display: none;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

.nav-hamburger {
  padding: 0 10px;
  cursor: pointer;
  font-size: 16px;
}

.fa-envelope {
  font-size: 18px;
}

/* Headline styles */
.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.headline > * {
  align-self: center;
  text-align: center;
  padding: 10px 20px;
}

.headline h1 {
  font-size: 48px;
  color: #7d73fc;
  font-weight: 700;
}

.headline h2 {
  font-size: 32px;
  color: #edecff;
  font-weight: 500;
  margin-bottom: 20px;
}

.headline p {
  font-size: 20px;
  color: #c8c8d4;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

/* section line */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #646369;
  margin: 20px 24px;
  padding: 0;
}

.bottom-divider hr {
  margin: 40px 0 20px 0;
}

/* section languages */
.languages {
  padding: 10px 0;
  margin: 0 25px;
}

.languages-iner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
}

.languages-iner ul {
  list-style: none;
}

.languages-iner ul li {
  font-size: 15px;
  color: #f5f5ff;
  margin-bottom: 15px;
  font-weight: 400;
}

.languages-iner ul li h3 {
  font-size: 12px;
  color: #9490ff;
  margin-bottom: 15px;
  font-weight: 500;
}

/* section icons */
.icons {
  padding: 10px 0;
  margin: 0 25px;
}

.icons-iner {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.social {
  display: flex;
  justify-content: center;
}

.social a {
  padding: 10px 10px;
  color: #fff;
  font-size: 20px;
}

.work-icon {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
  color: #acb7c3;
  line-height: 32px;
}

.fa-arrow-down {
  padding: 7px 10px;
  color: #acb7c3;
}

.icon-hide {
  display: none;
}

/* Work section */
.work {
  padding: 10px 0;
  margin: 0 25px;
}

.work-title {
  font-size: 40px;
  font-weight: 500;
  color: #9490ff;
}

.work hr {
  margin: 20px 0;
}

.work img {
  width: 100%;
  height: 100%;
}

.card {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
}

.card-header {
  font-size: 32px;
  font-weight: 500;
  color: #fff;
  margin: 24px 0 4px 0;
  line-height: 44px;
  padding: 30px 0;
}

.card-paragraph {
  font-size: 18px;
  font-weight: 400;
  color: #dcdce8;
  margin: 20px 0;
}

.card ul {
  list-style: none;
}

.techs {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.techs > * {
  padding: 10px 10px;
  flex: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  line-height: 20px;
}

.tech1 {
  border-right: 1px solid #555;
}

.tech2,
.tech3 {
  border-right: 1px solid #555;
  border-left: 1px solid #555;
}

.btn-card {
  cursor: pointer;
  display: inline-block;
  border: 0;
  margin: 10px 0;
  padding: 10px 20px;
  background: #7d73fc;
  color: #edecff;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
}

.btn-card:hover {
  opacity: 0.9;
}

/* Contact form */
.contact {
  margin: 110px 24px 0 24px;
}

.contact-iner {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  list-style: none;
}

.contact-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 44px;
  color: #9390ff;
  text-align: center;
}

.contact-paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #f5f5ff;
  text-align: center;
  margin: 15px 0 30px 0;
}

.message-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control {
  width: 100%;
  padding: 15px 16px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #191765;
  margin: 10px;
}

.button-contact {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  color: #edecff;
  background: #7d73fc;
  padding: 12px;
  margin: 30px;
}

.button-contact:hover {
  opacity: 0.9;
}

.contact-iner li hr {
  margin-left: -50px;
  width: 1200px;
  margin-top: 21px;
  margin-bottom: 10px;
}

/* Bottom navigation */
.bottom-nav {
  display: flex;
  flex-direction: column;
  margin: 15px 24px 40px 24px;
}

.bottom-nav ul {
  list-style: none;
}

.email-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #ebebff;
  text-align: center;
  padding: 5px;
  margin-top: 5px;
}

/* -------------------------------------- */

/*      RESPONISVE STYLING DESKTOP        */

/* -------------------------------------- */

@media only screen and (min-width: 792px) {
  /* NAVBAR  - DESKTOP */
  .header {
    margin-top: 6px;
  }

  .nav-flex button {
    display: block;
  }

  .nav-hamburger {
    display: none;
  }

  /* HEADLINE AND LANGUAGES  - DESKTOP */
  .headline {
    margin: 110px 0 30px 0;
  }

  .headline h1 {
    font-size: 90px;
    font-weight: 700;
    line-height: 105px;
  }

  .headline h2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 47px;
  }

  .headline p {
    max-width: 447px;
    line-height: 32px;
    margin-top: 80px;
  }

  .languages {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }

  .languages-iner {
    max-width: 447px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    padding: 5px;
  }

  .languages-iner ul li h3 {
    font-size: 18px;
    line-height: 29.33px;
    font-weight: 700;
  }

  .languages-iner ul li {
    font-size: 13px;
    line-height: 25px;
  }

  /* Dividers - DESKTOP */
  .divider1 hr {
    max-width: 447px;
    margin: auto;
  }

  /* Social links  - DESKTOP */
  .icon-hide {
    display: block;
  }

  .icons-iner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 100px 0 220px 0;
  }

  /* Work section  - DESKTOP */
  .work-title {
    font-size: 64px;
    line-height: 114px;
    font-weight: 700;
    margin-bottom: 13px;
  }

  .card {
    display: flex;
    grid-gap: 24px;
    margin: 76px 0 0 0;
    max-height: 450px;
  }

  .card-image {
    flex: 60%;
  }

  .card-text {
    padding: 40px 0 0 0;
    flex: 40%;
  }

  .card-header {
    font-size: 40px;
    line-height: 52px;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }

  .card-paragraph {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
  }

  .card img {
    margin: 0;
  }

  .techs {
    justify-content: flex-start;
    margin: 24px 0;
  }

  .btn-card {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    margin: 0;
  }

  .card-reverse {
    flex-direction: row-reverse;
  }

  /* Contact form - DESKTOP */
  .contact-iner {
    max-width: 684px;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  .message-form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .input1,
  .input2 {
    flex: 40%;
    max-width: 330px;
    font-size: 17px;
    line-height: 20px;
    padding: 14px 15px;
  }

  .input3,
  .input4 {
    flex: 100%;
  }

  .input5 {
    align-self: center;
    font-size: 15px;
    line-height: 24px;
    width: 136px;
    margin: 90px 24px 50px 24px;
  }

  /* Bottom navigation - DESKTOP */
  .bottom-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px 24px 20px 24px;
  }

  .bottom-nav ul {
    align-self: center;
    margin: 0;
    font-size: 20px;
    padding: 0 10px;
  }

  .email-title {
    align-self: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #ebebff;
    text-align: center;
    margin: 0;
    padding: 0 10px;
  }
}
