@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #191765;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #191765;
  color: #fff;
  font-size: 15px;
}

/* Geometric shapes */
#circle {
  width: 160px;
  height: 160px;
  background: #edecff;
  border-radius: 50%;
  position: absolute;
  top: 97px;
  right: 0;
  left: -106px;
  z-index: -1;
  filter: blur(30px);
}

/* Header and Navbar styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 20px 0;
}

.logo {
  font-weight: 500;
  padding: 10px 20px;
  background: #191765;
  color: #fff;
}

.hamburger {
  width: 33.33px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
}

.nav-flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
}

.nav-flex button {
  display: none;
}

.nav-hamburger {
  padding: 0 10px;
  cursor: pointer;
  font-size: 16px;
}

/* Headline styles */
.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.headline > * {
  align-self: center;
  text-align: center;
  padding: 10px 20px;
}

.headline h1 {
  font-size: 48px;
  color: #7d73fc;
  font-weight: 700;
}

.headline h2 {
  font-size: 32px;
  color: #edecff;
  font-weight: 500;
  margin-bottom: 20px;
}

.headline p {
  font-size: 20px;
  color: #c8c8d4;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

/* section line */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #646369;
  margin: 30px 24px;
  padding: 0;
}
