@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #191765;
  font-family: 'Roboto', sans-serif;
}

/* Navbar styles */
.hamburger {
  width: 33.33px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
}

.nav-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  height: 50px;
  padding: 20px 0;
}

.nav-item {
  padding: 0 10px;
  cursor: pointer;
  font-size: 16px;
}

a {
  text-decoration: none;
}

/* Headline styles */
.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headline > * {
  align-self: center;
  text-align: center;
  padding: 10px 20px;
}

.headline h1 {
  font-size: 48px;
  color: #7d73fc;
  font-weight: 700;
}

.headline h2 {
  font-size: 32px;
  color: #edecff;
  font-weight: 500;
  margin-bottom: 20px;
}

.headline p {
  font-size: 20px;
  color: #c8c8d4;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}
